.categories
  padding-top: 100px
  padding-bottom: 120px
  &__subtitle
    font-family: Gilroy-Regular
    font-size: 21px
    line-height: 140%
    text-align: center
    color: #333333
    margin-bottom: 15px
  &__title
    font-family: NotoSerif-Bold
    font-size: 30px
    line-height: 41px
    text-align: center
    color: #333333
    margin-bottom: 60px
  &-list
    margin-bottom: 55px
    display: flex
    justify-content: space-between
    &__item
      width: 165px
      height: 55px
      background-color: #F9F9F9
      border: 1px solid #D6D6D6
      font-family: Gilroy-Medium
      font-size: 18px
      line-height: 21px
      text-align: center
      letter-spacing: 0.1em
      text-transform: uppercase
      color: #333333
.catalog
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &__link
    margin-bottom: 30px
