.footer
  &-wrapper
    padding: 70px 262px 100px 0
    display: flex
  &-logo
    width: 195px
    margin-right: 128px
    &__text, &__copyright
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 140%
      color: #B2B2B2
    &__text
      margin-bottom: -2px
  &-title
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 19px
    color: #111238
    margin-bottom: 15px
  &-desc
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 19px
    color: #111238
  &-item
    margin-bottom: 10px
  &-link
    margin-bottom: 20px
  &-description
    min-width: 737px
    display: flex
    align-items: start
    justify-content: space-between

  
