.footer
  padding-top: 80px
  padding-bottom: 20px
  &-line
      border-top: 1px solid #333333
      margin-bottom: 30px
  &-title
    font-family: Gilroy-Medium
    font-size: 18px
    line-height: 140%
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #333333
    margin-bottom: 10px
  &-link
      font-family: Gilroy-Regular
      font-size: 14px
      line-height: 150%
      color: #333333
  &-list
    &__item
      margin-bottom: 15px

  &-links
    display: flex
    justify-content: space-between
    margin-bottom: 60px
  &-payment
    &__link
      display: inline-block
      margin-right: 20px
    &__text
      margin-bottom: 20px
  &-social
    &__text
      margin-bottom: 23px
  &-contacts
    min-width: 255px
  &-number
    display: flex
    &__phone
      font-family: Gilroy-Regular
      font-size: 14px
      line-height: 150%
      color: #333333
    &__icon
      margin-right: 20px
      margin-bottom: 15px
  &-mail
    display: flex
    align-items: center
    &__mailto
      font-family: Gilroy-Regular
      font-size: 14px
      line-height: 150%
      color: #333333
    &__icon
      margin-right: 20px
  &-networks
    display: flex
    align-items: center
    width: 195px
    justify-content: space-between
  &-useful, &-payment, &-social
    max-width: 255px
.last-line
  display: flex
  justify-content: space-between
  font-family: Gilroy-Regular
  font-size: 14px
  line-height: 150%
  color: #333333
  &__figma
    font-family: Gilroy-Semibold
    font-size: 14px
    line-height: 150%
    text-decoration-line: underline
    color: #333333





