.header
  padding-top: 44px
  padding-bottom: 56px
  background-color: #F2F3F6
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 75px
  &__buttons
    width: 241px
    display: flex
    align-items: center
    justify-content: space-between
  &__signin
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 19px
    color: #111238
  &__registration
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 19px
    color: #FFFFFF
    background: #1A75E8
    border-radius: 5px
    padding: 15px 30px
  &__link
    display: flex
    align-items: center
  &__logo
    margin-right: 11px
.navbar
  &__list
    display: flex
    align-items: center
    justify-content: space-between
    width: 250px
  &__link
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 19px
    color: #111238
.hero
  display: flex
  justify-content: space-between
  &__title
    font-style: normal
    font-weight: 900
    font-size: 44px
    line-height: 53px
    color: #111238
    margin-top: 43px
    margin-bottom: 15px
  &__text
    width: 460px
  &__description
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 140%
    color: #111238
    margin-bottom: 30px
  &__image
    width: 554px
    height: 557px
.input
  &-group
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px
    background: #FFFFFF
    border: 1px solid rgba(209, 209, 209, 0.1)
    box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1)
    border-radius: 5px
    margin-bottom: 25px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 19px
      color: #B2B2B2
      border: none
      margin-left: 15px
      outline: none
      padding: 10px 0
  &-button
    display: flex
    align-items: center
    justify-content: center
    padding: 15px 30px
    background-color: #1A75E8
    border-radius: 5px
    &__icon
      margin-right: 10px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 19px
      color: #FFFFFF
.example
  margin-left: 10px
  display: flex
  align-items: center
  &__title
    margin-right: 15px
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 17px
    color: #B2B2B2
.tags
  width: 259px
  display: flex
  justify-content: space-between
  &__link
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 17px
    color: #B2B2B2
    border: 1px solid #B2B2B2
    border-radius: 5px
    padding: 5px 10px

